{% extends 'base.html.twig' %}

{% block title %}CosmoScop — Home Page{% endblock %}

{% block body %}

{# Fenêtre modale après sucess du register pour confirmer la créa de compte #}
    {% for message in app.flashes('success') %}
        <div class="modal-flash" role="alert" aria-live="assertive">
            <div class="modal-content">
                <p>{{ message }}</p>
                <button onclick="document.getElementById('flashModal').style.display='none'">OK</button>
            </div>
        </div>
    {% endfor %}

    <section class="animation-container">
        <div class="solar-container"></div>
        <div id="app"></div>

        <link rel="stylesheet" href="/js/animation/assets/main-DY4CJGLJ.css">
        <script type="module" src="/js/animation/assets/main--NeYGpD-.js"></script>
    </section>

    <main class="main-container">

        {% if app.user %}
            <section class="recent-articles">
                <h2>New articles :</h2>

                <div class="articles-list">
                    {% for actuality in actualities %}
                        <div class="article-card">
                            <h3>{{ actuality.title }}</h3>
                            <p>{{ actuality.content|slice(0, 100) }}...</p>
                            <a href="{{ path('app_actuality_show', { id: actuality.id }) }}">Read more</a>
                        </div>
                    {% else %}
                        <p>Sorry, we didn't find any new actuality</p>
                    {% endfor %}
                </div>

                <a href="{{ path('app_article_index') }}" class="btn">See more...</a>
            </section>
        {% endif %}

    </main>

{% endblock %}
