{% extends 'base.html.twig' %}

{% block body %}

	{% if mission.imageFilename %}
		<img class="article-banner" src="{{ asset('uploads/' ~ mission.imageFilename) }}" alt="{{ mission.title }}">
	{% endif %}

	<article class="article-show-container">

		<div style="display: flex; justify-content: space-between; align-items: center;">
			<h1>{{ mission.title }}</h1>
		</div>

		<p class="publication-date">
			Launch Date: {{ mission.launchDate|date('d/m/Y') }}
		</p>

		<p class="publication-date">
			Agency: {{ mission.agency }}
		</p>

		<div class="article-content">
			{{ mission.description|nl2br }}
		</div>

		{% if is_granted('ROLE_ADMIN') %}
			<div class="action-buttons">
				<a href="{{ path('app_future_mission_edit', { id: mission.id }) }}" class="btn btn-primary">Edit</a>
			</div>
		{% endif %}

		<a href="{{ path('app_future_mission') }}" class="back-link">← Back to Mission List</a>

	</article>

{% endblock %}
