{% extends 'base.html.twig' %}

{% block title %}Update Password — CosmoScop{% endblock %}

{% block body %}
<main class="main" aria-label="Section to update your password">
  <div class="form-container">
    <h1>Update password</h1>

    {{ form_start(passwordForm, {
      'attr': { 'aria-label': 'Update password form' }
    }) }}
      <div>
        {{ form_label(passwordForm.currentPassword) }}
        {{ form_widget(passwordForm.currentPassword, {
          'attr': {
            'class': 'form-control',
            'aria-label': 'Current password'
          }
        }) }}
        {{ form_errors(passwordForm.currentPassword) }}
      </div>

      <div>
        {{ form_label(passwordForm.newPassword) }}
        {{ form_widget(passwordForm.newPassword, {
          'attr': {
            'class': 'form-control',
            'aria-label': 'New password'
          }
        }) }}
        {{ form_errors(passwordForm.newPassword) }}
      </div>

      <div class="centered-container">
        <button type="submit" class="btn" aria-label="Update your password">Update</button>
      </div>
    {{ form_end(passwordForm) }}

    <a href="{{ path('app_user_dashboard') }}" class="btn transparent">
      Back to my profile
    </a>
  </div>
</main>
{% endblock %}

