{% block body %}

	{{ form_start(form, {
    'attr': {
      'class': 'form-container',
      'aria-label': 'Article submission form'
    }
  }) }}

	{# Titre #}
	{{ form_row(form.title, {
      'attr': {
        'class': 'form-control',
        'placeholder': 'Enter the article title',
        'aria-label': 'Title of the article'
      }
    }) }}

	{# Date #}
	{{ form_row(form.publicationDate, {
      'attr': {
        'class': 'form-control',
        'aria-label': 'Publication date of the article'
      }
    }) }}

	{# Upload d'image #}
	{{ form_row(form.imageFile, {
      'attr': {
        'class': 'form-control',
        'aria-label': 'Upload image for the article'
      }
    }) }}

	{# Contenu #}
	{{ form_row(form.content, {
      'attr': {
        'class': 'form-control content-field',
        'placeholder': 'Write your article here',
        'aria-label': 'Content of the article',
        'rows': 10
      }
    }) }}

	<div class="centered-container">
		<button type="submit" class="btn btn-primary" aria-label="Save the article">
			Save
		</button>
	</div>

	{{ form_end(form) }}
{% endblock %}
