{% block body %}
	<div class="admin-section">
		<h1 class="h1-dashboard">List of articles</h1>

		<div class="table-wrapper">
			<table class="table" aria-label="Table of all articles">
				<thead>
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Title</th>
						<th scope="col">Content</th>
						<th scope="col">Date</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					{% for article in articles %}
						<tr>
							<td>{{ article.id }}</td>
							<td>{{ article.title }}</td>
							<td>
								{{ article.content|length > 100 
									? article.content[:100] ~ '...'
									: article.content }}
							</td>
							<td>{{ article.publicationDate ? article.publicationDate|date('Y-m-d') : 'N/A' }}</td>
							<td class="centered-container">
								<a href="{{ path('app_article_show', { id: article.id }) }}" class="btn small" aria-label="View article {{ article.title }}">See more</a>
								<a href="{{ path('app_article_edit', { id: article.id }) }}" class="btn small" aria-label="Edit article {{ article.title }}">Edit</a>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="5">No article found.</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
